html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
}
* {
    padding: 0;
    margin: 0;
}

.base-header {
    width: 100vw;
    height: 30vh;
    background-color: pink;
    /*If seen there has been a glitch so it should be easy to know something it wrong*/

    position: relative;
}


.FlagLines{
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    flex-direction: column;
}
.FlagLines img {
    width: 100%;
    flex: 1;
}
.FlagImgNoDistort {
    width: auto;
    height: 100%;
    /*object-fit: cover;*/

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.TextDiv {
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    flex-direction: column;

}
.dummyDiv {
    width: 100%;
    height: 30%;
    flex: 1
}
.TriNameDiv {
    width: 100%;
    height: 30%;
    flex: 1;

    display: flex;
    flex-direction: row;

}
.TriNameDiv h1 {
    width: 100%;
    height: auto;

    flex: 1;

    font-size: 3em;
    margin-block-start: 0;
    margin-block-end: 0;


    display: flex;
    align-items: center;
    justify-content: center;
}
.BiNameDiv {
    width: 100%;
    height: 50%;
    flex: 1;

    display: flex;
    flex-direction: row;

}
.BiNameDiv h1 {
    width: 100%;
    height: auto;

    flex: 1;

    font-size: 3em;
    margin-block-start: 0;
    margin-block-end: 0;


    display: flex;
    align-items: center;
    justify-content: center;
}
#WhiteText {
    color: white;
}
.FullName {
    white-space: preserve;
    margin-inline-start: 0;
    margin-inline-end: 5.5%;
}
.NickName {
    margin-inline-start: 5.5%;
    margin-inline-end: 0;
}

.TriNav {
    width: 100%;
    height: 30%;
    flex: 1;

    display: flex;
}
.TriNav a, p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.TriNav a {
    flex: 10;
}
.TriNav p {
    flex: 1;
    color: white;
}
.TriNav img {
    width: auto;
    height: 30%;

    margin-right: 0.5%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.TriNav a h2{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    margin-right: 0.5%;
}
.BiNav {
    width: 100%;
    height: 50%;
    flex: 1;

    display: flex;
}
.BiNav a, p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.BiNav a {
    flex: 10;
}
.BiNav p {
    flex: 1;
    color: white;
}
.BiNav img {
    width: auto;
    height: 30%;

    margin-right: 0.5%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.BiNav a h2{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    margin-right: 0.5%;
}

.ContentDiv {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}
section {
    height: 100%;
    width: 70%;

    flex: 5;
    display: flex;

}
section img {
    width: 100%;
    height: auto;
}
.RowSection {
    flex-direction: column;
}
.RowSection * {
    flex: 1;
}
.RowSection .ColumnDiv {
    display: flex;
    flex-direction: row;
}
.RowSection .ColumnDiv p {
    flex: 1;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 1%;
    padding-right: 5%;
}
.RowSection .ColumnDiv img {
    flex: 1;
    width: 10%;
    height: auto;
    padding-top: .5%;
}
.RowSection table {
    text-align: center;
}
.RowSection th, .RowSection td {
    height: auto;
    padding-top: .5%;
}

aside {
    height: 70vh;
    min-height: 550px;
    width: 30%;
    padding-top: 2.5%;

    background-color: gray;

    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
aside p, aside h1, aside h2, aside h3 {
    height: 100%;
    width: auto;

    padding-left: 2%;
    padding-right: 2%;

    display: flex;
    text-align: center;
}
aside ul {
    list-style-position:inside;
    padding-left: 2%;
    padding-right: 2%;
}
footer {
    width: 100%;
    height: 5%;
    background-color: gray;
    justify-content: center;
    display: flex;
}
